{% extends 'navbar.html' %}
#for images
{% load static %}
<!--<img class="card-img-top" src="{% static 'images/i1.jpg' %}" height="700" >-->
<html>
{% block body %}

<div class="container" align="center">
</div>
<center>
<div class="btn-group">
 <li><a href="link5"> <button type="button" class="btn btn-primary">Browse menu</button></a></li>
</div>
      </center>
</div>
<br>
<br>

<div class="row">
  <div class="col-sm-4">
      <div class="card">
          <img class="card-img-top" src="{% static 'images/i1.jpg' %}" alt="Card image cap" height="310" >
          <div class="card-body">
              <h5 class="card-title">BURGER</h5>
              <p class="card-text">Rs: 150/- <br> Fresh natural ingredients in variety of flavors.<br>Hurry Up!!</p>
              <center><a href="" class="btn btn-primary">ORDER NOW</a></center>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <img class="card-img-top" src="{% static 'images/f2.jpg' %}" alt="Card image cap" height="310" >
        <div class="card-body">
            <h5 class="card-title">PIZZA</h5>
            <p class="card-text">Rs: 250/- <br> Offer UpTo 5% for Large pizza <br> Hurry Up , Grab your order!</p>
            <center><a href="#" class="btn btn-primary">ORDER NOW</a></center>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card">
        <img class="card-img-top" src="{% static 'images/f3.jpeg' %}" alt="Card image cap" height="310" >
        <div class="card-body">
            <h5 class="card-title">BIRIYANI</h5>
            <p class="card-text">Rs: 300/-<br> Slow cooked soup with chicken , special deccan herbs and spices.</p>
            <center><a href="#" class="btn btn-primary">ORDER NOW</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="card">

        <img class="card-img-top" src="{% static 'images/noodles.jpg' %}" alt="Card image cap" height="310" >
      <div class="card-body">
        <h5 class="card-title">Noodles</h5>
        <p class="card-text">Rs: 120/- <br> Order your spicy schezwan noodles now.<br>Hurry Up!!</p>
        <center><a href="#" class="btn btn-primary">ORDER NOW</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="card">

        <img class="card-img-top" src="{% static 'images/manch.jpg' %}" alt="Card image cap" height="310" >
      <div class="card-body">
        <h5 class="card-title">MANCHURIA</h5>
        <p class="card-text">Rs: 120/- <br> Order your fav manchuria.<br>Hurry Up!!</p>
        <center><a href="#" class="btn btn-primary">ORDER NOW</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">

    <div class="card">
     <img class="card-img-top" src="static/images/i1.jpg" alt="Card image cap" height="310">
      <div class="card-body">
        <h5 class="card-title">VEGETABLE BIRIYANI</h5>
        <p class="card-text">Rs: 250/-<br> Traditional Vijayawada Veg-Biriyani. <br>Hurry Up!!</p>
        <center><a href="#" class="btn btn-primary">ORDER NOW</a></center>
      </div>
    </div>

  </div>
</div>

{% endblock %}
</html>
